---
import AddressIcon from "../../assets/contact-us/address.png";
import CallIcon from "../../assets/contact-us/call.png";
import EmailIcon from "../../assets/contact-us/mail.png";
import Image from "astro/components/Image.astro";
---

<section class="app-max-width flex flex-col gap-y-8 py-[8dvw]">
  <div class="flex flex-col gap-x-8 gap-y-8 md:flex-row md:justify-between">
    <div class="flex flex-col md:w-1/2">
      <div>
        <h4 class="mb-2 text-2xl font-semibold md:text-3xl xl:text-4xl">
          Contact Us
        </h4>
        <p class="max-w-[460px] text-xs md:text-sm xl:text-base">
          The services provided by EBook Writing Hub become clients' property
          once delivered.
        </p>
      </div>
      <div class="mt-8 flex flex-col gap-y-6">
        <div class="flex items-center gap-x-2 text-lg font-semibold">
          <Image
            src={AddressIcon}
            alt="Address"
            class=""
            width={42}
            height={42}
          />
          <p class="text-sm md:text-base">Troy St. Ste B, Dothan, AL 36303</p>
        </div>
        <div class="flex items-center gap-x-2 text-lg font-semibold">
          <Image src={CallIcon} alt="Phone" class="" width={42} height={42} />
          <p class="text-sm md:text-base">(205) 202-9559</p>
        </div>
        <div class="flex items-center gap-x-2 text-lg font-semibold">
          <Image src={EmailIcon} alt="Email" class="" width={42} height={42} />
          <p class="text-sm md:text-base">info@nixxonpublishers.com</p>
        </div>
      </div>
    </div>
    <form
      class="bg-primary-red flex flex-1 flex-col gap-y-2 rounded-md px-4 py-6 text-white md:px-6 md:py-8"
    >
      <div class="flex flex-col">
        <label class="text-sm font-semibold md:text-base">Name</label>
        <input
          type="text"
          class="mb-2 rounded-lg bg-white px-1 py-1 text-base font-semibold md:mb-4 md:py-2 md:text-lg"
        />
      </div>
      <div class="flex flex-col">
        <label class="text-sm font-semibold md:text-base">Email</label>
        <input
          type="text"
          class="mb-2 rounded-lg bg-white px-1 py-1 text-base font-semibold md:mb-4 md:py-2 md:text-lg"
        />
      </div>
      <div class="flex flex-col">
        <label class="text-sm font-semibold md:text-base">Phone</label>
        <input
          type="text"
          class="mb-2 rounded-lg bg-white px-1 py-1 text-base font-semibold md:mb-4 md:py-2 md:text-lg"
        />
      </div>
      <div class="flex flex-col">
        <label class="text-sm font-semibold md:text-base">Message</label>
        <textarea
          rows="3"
          class="mb-2 rounded-lg bg-white px-1 py-1 text-base font-semibold md:mb-4 md:py-2 md:text-lg"
        ></textarea>
      </div>

      <button
        class="mx-auto w-fit rounded-md border border-white px-3 py-1 text-sm font-semibold md:px-4 md:py-2 md:text-base"
      >
        Send Message
      </button>
    </form>
  </div>

  <div class="mt-8 w-full">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3411.827207918463!2d-85.39785112385375!3d31.225516261649407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1743198123032!5m2!1sen!2s"
      width="100%"
      height="500px"
      class="rounded-lg border-none"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
