---
import Image from "astro/components/Image.astro";
import Logo from "../../assets/logo.png";
---

<footer
  class="bg-footer-blue text-base text-white"
  role="contentinfo"
  aria-label="Site Footer"
>
  <div
    class="app-max-width grid grid-cols-3 gap-x-2 gap-y-8 py-12 sm:gap-x-4 md:gap-x-16 md:py-20 lg:flex lg:flex-row lg:justify-center"
  >
    <section
      class="col-span-3 flex min-w-[300px] flex-col gap-y-6 md:col-span-3 lg:w-2/5 lg:max-w-[336px] xl:w-1/4"
    >
      <a href="/" title="Nixxon Publishers Home">
        <Image
          src={Logo}
          alt="Nixxon Publishers Logo"
          class="h-14 object-contain"
          loading={"lazy"}
          width={180}
          height={56}
        />
      </a>
      <p class="text-xs md:text-sm xl:text-base 2xl:text-lg">
        Nixxon Publishers service lets you enjoy the narrative. You may trust us
        for quality book authoring and easy publication. Our talented teams
        create and publish the best stories on major platforms.
      </p>
    </section>

    <nav class="flex flex-col" aria-label="Services navigation">
      <h2 class="border-primary-red mb-4 w-fit border-b pb-1">Services</h2>
      <ul class="mt-2 space-y-2">
        <li class="text-[8px] sm:text-xs md:text-sm xl:text-base 2xl:text-lg">
          <a
            href="/services/book-writing"
            class="hover:text-primary-red transition-colors"
            title="Professional book writing services"
          >
            Book Writing
          </a>
        </li>
        <li class="text-[8px] sm:text-xs md:text-sm xl:text-base 2xl:text-lg">
          <a
            href="/services/cover-design"
            class="hover:text-primary-red transition-colors"
            title="Book cover design services"
          >
            Cover Design
          </a>
        </li>
        <li class="text-[8px] sm:text-xs md:text-sm xl:text-base 2xl:text-lg">
          <a
            href="/services/book-publication"
            class="hover:text-primary-red transition-colors"
            title="Book publication services"
          >
            Book Publication
          </a>
        </li>
        <li class="text-[8px] sm:text-xs md:text-sm xl:text-base 2xl:text-lg">
          <a
            href="/services/book-marketing"
            class="hover:text-primary-red transition-colors"
            title="Book marketing and promotion"
          >
            Book Marketing
          </a>
        </li>
        <li class="text-[8px] sm:text-xs md:text-sm xl:text-base 2xl:text-lg">
          <a
            href="/services/book-video-trailer"
            class="hover:text-primary-red transition-colors"
            title="Book video trailer creation"
          >
            Book Video Trailer
          </a>
        </li>
        <li class="text-[8px] sm:text-xs md:text-sm xl:text-base 2xl:text-lg">
          <a
            href="/services/web-design-seo"
            class="hover:text-primary-red transition-colors"
            title="Website design and SEO services"
          >
            Web Design & SEO
          </a>
        </li>
      </ul>
    </nav>

    <nav class="flex flex-col" aria-label="Help Center navigation">
      <h2 class="border-primary-red mb-4 w-fit border-b pb-1">Help Center</h2>
      <ul class="mt-2 space-y-2">
        <li class="text-[8px] sm:text-xs md:text-sm xl:text-base 2xl:text-lg">
          <a
            href="/"
            class="hover:text-primary-red transition-colors"
            title="Nixxon Publishers home page">Home</a
          >
        </li>
        <li class="text-[8px] sm:text-xs md:text-sm xl:text-base 2xl:text-lg">
          <a
            href="/about"
            class="hover:text-primary-red transition-colors"
            title="About Nixxon Publishers"
            >About
          </a>
        </li>
        <li class="text-[8px] sm:text-xs md:text-sm xl:text-base 2xl:text-lg">
          <a
            href="/contact-us"
            class="hover:text-primary-red transition-colors"
            title="Contact Nixxon Publishers"
          >
            Contact Us
          </a>
        </li>
      </ul>
    </nav>

    <address
      class="flex flex-col not-italic"
      itemscope
      itemtype="https://schema.org/LocalBusiness"
    >
      <h2 class="border-primary-red mb-4 w-fit border-b pb-1">Get in Touch</h2>
      <ul class="mt-2 space-y-2">
        <li class="text-[8px] sm:text-xs md:text-sm xl:text-base 2xl:text-lg">
          <a
            href="tel:+12052021004"
            class="hover:text-primary-red transition-colors"
            itemprop="telephone"
            title="Call Nixxon Publishers"
          >
            ‪+1 205-202-1004
          </a>
        </li>
        <li class="text-[8px] sm:text-xs md:text-sm xl:text-base 2xl:text-lg">
          <a
            href="mailto:info@nixxonpublishers.com"
            class="hover:text-primary-red transition-colors"
            itemprop="email"
            title="Email Nixxon Publishers"
          >
            info@nixxonpublishers.com
          </a>
        </li>
        <li
          class="hover:text-primary-red text-[8px] transition-colors sm:text-xs md:text-sm xl:text-base 2xl:text-lg"
        >
          Troy St. Ste B, Dothan,<span class="block sm:inline"> AL 36303 </span>
        </li>
      </ul>
    </address>
  </div>

  <div class="w-full border-t-1 py-6 text-center">
    <small
      >&copy; <span itemprop="copyrightYear">2025</span>
      <span itemprop="name">Nixxon Publishers</span> | All Rights Reserved.</small
    >
  </div>
</footer>

<style>
  li {
    list-style-type: none;
    text-wrap: nowrap;
  }
</style>
