@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* import comme font */
@import url("https://fonts.googleapis.com/css2?family=Comme:wght@100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

/* Custom scrollbar for Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #120020;
  opacity: 0.7;
}

::-webkit-scrollbar-thumb {
  background: #ff002d;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4e010f;
}

/* Custom scrollbar for Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #ff002d #120020;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@theme {
  --color-primary-red: #ff002d;
  --color-primary-blue: #120020;
  --color-heading-black: #111111;
  --color-footer-blue: #0e0019;
  --color-quote-maroon: #4e010f;
  --font-comme-regular: "Comme", sans-serif;
}

.common-heading {
  @apply font-semibold text-heading-black text-2xl xl:text-4xl;
}

.tab-button {
  @apply text-sm xl:text-base font-medium text-[#303030] border border-[#303030] cursor-pointer rounded-md px-4 xl:px-6 py-2;
}

.active-tab-button {
  @apply border-none bg-primary-red text-white;
}

.app-max-width {
  padding-inline: 1rem;
}

.app-margin {
  padding-inline: 1rem;
}

.app-left-padding {
  padding-left: 1rem;
}

.app-right-padding {
  padding-right: 1rem;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .app-max-width {
    padding-inline: 1.5rem;
  }

  .app-left-padding {
    padding-left: 1.5rem;
  }

  .app-right-padding {
    padding-right: 1.5rem;
  }
  .app-margin {
    padding-inline: 1.5rem;
  }
}

/* Small Laptop */
@media screen and (min-width: 1024px) {
  .app-max-width {
    padding-inline: 3rem;
  }

  .app-left-padding {
    padding-left: 3rem;
  }

  .app-right-padding {
    padding-right: 3rem;
  }
  .app-margin {
    padding-inline: 3rem;
  }
}

/* Large Laptop */
@media screen and (min-width: 1280px) {
  .app-max-width {
    padding-inline: 4rem;
  }

  .app-left-padding {
    padding-left: 4rem;
  }

  .app-right-padding {
    padding-right: 4rem;
  }
  .app-margin {
    padding-inline: 4rem;
  }
}

/* Extra Large Screens */
@media screen and (min-width: 1560px) {
  .app-max-width {
    margin: 0 auto;
    padding-inline: 8rem;
  }

  .app-left-padding {
    padding-left: 8rem;
  }

  .app-right-padding {
    padding-right: 8rem;
  }
  .app-margin {
    padding-inline: 8rem;
  }
}
